.git
.gitignore
__pycache__
.pytest_cache
.venv
venv
*.pyc
*.pyo
*.db
*.session
*.session-journal
config.json
tests/
*.md
*.log
logs/
downloads/
cache.db
logger.db
tracker.db
userbot.db
nohup.out
expr_data/
gemini_data/
sys/
uwufetch/
*.swp
*.swo
*~
.DS_Store
